<!DOCTYPE html>
<html>
  <head>
       <%- include('inAll/head') -%> 
  </head>
  <body>
  <%- include('inAll/header') -%>
  
  <%- include('body') -%>
  
  <%- include('inAll/footer') -%>
  </body>
</html>